<div class="page-title" style="display: flex; justify-content:space-between; flex-wrap: wrap">
  <div>
    <h5>Моя музыка</h5>
  </div>
  <div>
    <button class="btn waves-effect waves-purple" (click)="btnAddMusicClick()">Добавить</button>
  </div>
</div>

<app-audioplayer #player></app-audioplayer>

<div class="row">
  <div class="col s12">
    <div class="collection" *ngFor="let file of files">
      <a class="collection-item" (click)="player.openFile(file.name, file.url)">{{file.name}}</a>
    </div>
  </div>
</div>
